<h3 class="wipp-title">Collection detail</h3>
<div>
  <div class="row">
    <div class="col-md-9">
      <dl class="row">
        <dt class="col-md-4">Name:</dt>
        <dd class="col-md-8">
          <inline-editor type="text" [(ngModel)]="imagesCollection.name"
                         (onSave)="updateCollectionName($event)" size="20"
                         name="editableImageCollectionName">
            {{imagesCollection.name}}
          </inline-editor>
        </dd>

        <dt class="col-md-4">Creation date:</dt>
        <dd class="col-md-8">{{imagesCollection.creationDate| date}}</dd>

        <dt class="col-md-4">Number of files:</dt>
        <dd class="col-md-8">{{getNbFiles()}}</dd>

        <dt class="col-md-4">Total size:</dt>
        <dd class="col-md-8">
          {{
          imagesCollection.imagesTotalSize
          + imagesCollection.metadataFilesTotalSize
          | bytes
          }}
        </dd>


        <dt class="col-md-4">Source job:</dt>
        <dd class="col-md-8">
          <!-- FIXME: add link to source job if any -->
          <a data-ng-if="sourceJob">
            <!--data-ui-sref="imageProcessing.jobs.detail({jobId: sourceJob.id})">-->
            <!--{{sourceJob.name}}-->
          </a>
          <span data-ng-if="!sourceJob">Uploaded</span>
        </dd>
      </dl>
    </div>
    <div class="col-md-3 text-right">
      <a *ngIf="getNbFiles() > 0"
         [href]="imagesCollection._links.download.href"
         ngbTooltip="Download as zip"
         placement="left"
         class="btn btn-light">
                  <span
                    aria-hidden="true"><i class="fa fa-download"></i></span>
      </a>
      <!-- TODO: add copy collection -->
      <!--<button type="button" class="btn btn-default"-->
      <!--ng-click="vm.copyCollection();"-->
      <!--data-uib-tooltip="Copy collection"-->
      <!--data-tooltip-placement="left">-->
      <!--<span class="glyphicon glyphicon-copy"></span>-->
      <!--</button>-->
      <button *ngIf="!imagesCollection.locked" type="button"
              ngbTooltip="Delete collection"
              placement="left"
              class="btn btn-light" (click)="deleteCollection();">
                  <span class="fa fa-times"
                        aria-hidden="true"></span>
      </button>
      <button *ngIf="!imagesCollection.locked" type="button"
              ngbTooltip="Lock collection"
              placement="left"
              class="btn btn-light" (click)="lockCollection();">
        <span class="fa fa-lock-open"
              aria-hidden="true"></span>
      </button>
      <div *ngIf="imagesCollection.locked"
           ngbTooltip="Collection locked"
           placement="left"
           class="btn btn-light">
        <span class="fa fa-lock"
              aria-hidden="true"></span>
      </div>
    </div>
  </div>

  <div *ngIf="!imagesCollection.locked">
    <h4>Upload Options</h4>
    <div class="row">
      <div class="col-md-9">
        <dl class="row">
          <dt class="col-md-4">Filename filtering pattern:</dt>
          <dd class="col-md-8">{{getPattern()}}</dd>
        </dl>
      </div>
    </div>

    <h5>Folder upload:</h5>
    <div [hidden]="!flowHolder.supportDirectory">
      <div class="col-md-11 ml-md-1">
        <input type="radio" id="regular" name="upload" value="regular"
               [(ngModel)]="uploadOption">
        Upload images from folder and sub-folders (do not prefix images names with folders relative path)
        <br/>
        <input type="radio" id="includeSubsInPath"
               name="upload" value="includeSubsInPath"
               [(ngModel)]="uploadOption">
        Upload images from folder and sub-folders (prefix images names with folders relative path)
        <br/>
        <input type="radio" id="ignoreSubFolders"
               name="upload" value="ignoreSubs"
               [(ngModel)]="uploadOption">
        Ignore sub-folders
        <br/>
      </div>
    </div>
    <br/>

    <div class="row">
      <div class="col-md-4">
        <button class="btn btn-light btn-block" #browseBtn>
          Add files to collection
        </button>
        <button class="btn btn-light btn-block" #browseDirBtn
                [hidden]="!flowHolder.supportDirectory">
          Add folder to collection
        </button>
      </div>
      <div class="col-md-1 text-center">
        OR
      </div>
      <div class="col-md-7">
        <div class="upload-drop-zone" #dropArea>
          Drag And Drop the files <span [hidden]="!flowHolder.supportDirectory">
                      &nbsp;or a folder&nbsp;
                  </span>
          here.
        </div>
      </div>
    </div>
  </div>
  <div [hidden]="!hasFilesNotComplete(flowHolder.files)">
    <h4 class="top10">Transfers</h4>
    <div class="row">
      <div class="col-sm-3">
        Number of files: {{flowHolder.files.length}}
      </div>
    </div>
    <table class="table table-hover table-bordered table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th>File name</th>
        <th>Size</th>
        <th>Progress</th>
        <th>Error</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let file of flowHolder.files | slice:0:10; let index=index">
        <td class="vert-align">{{index + 1}}</td>
        <td class="vert-align">{{file.name}}</td>
        <td class="vert-align">{{file.size | bytes}}</td>
        <td *ngIf='!file.error'>
          <ngb-progressbar max="1" value="{{file.progress()}}">
          </ngb-progressbar>
        </td>
        <td *ngIf='file.error'>
          {{file.errorMesage|| "Unknown upload error."}}
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <h4>Images</h4>
  <div class='row'>
    <div class='col-sm-2'>
      # of images: {{imagesCollection.numberOfImages}}
    </div>
    <div class='col-sm-2'>
      Total size: {{imagesCollection.imagesTotalSize| bytes}}
    </div>
    <div class='col-sm-3'>
      Images being converted: {{imagesCollection.numberImportingImages}}
    </div>
    <div class="col-sm-3">
      Import errors: {{imagesCollection.numberOfImportErrors}}
    </div>


    <div class='col-sm-2 text-right'>
      <button *ngIf="!imagesCollection.locked" type="button"
              ngbTooltip="Delete all images"
              placement="left"
              class="btn btn-light"
              (click)="deleteAllImages()">
                <span class="fa fa-times"
                      aria-hidden="true"></span>
      </button>
    </div>
  </div>

  <table mat-table [dataSource]="images" (matSortChange)="imagesSortChanged($event)"
         matSort  matSortActive="fileName" matSortDisableClear matSortDirection="asc">

    <!-- # Column -->
    <ng-container matColumnDef="index">
      <th mat-header-cell *matHeaderCellDef>#</th>
      <td mat-cell *matCellDef="let id=index">
        {{ (pageSizeImages * imagesPaginator.pageIndex) + id + 1 }}
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="fileName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let row">
        {{ row.fileName }}
        <span [hidden]="!row.importError"><br>{{row.importError}}</span>
      </td>
    </ng-container>

    <!-- FileSize Column -->
    <ng-container matColumnDef="size">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Size</th>
      <td mat-cell *matCellDef="let row">{{ row.fileSize | bytes }}</td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let row">
        <a *ngIf="!row.importing && !row.importError"
           [href]="row._links.self.href"
           ngbTooltip="Download image"
           placement="left"
           class="btn btn-light">
                  <span
                    aria-hidden="true"><i class="fa fa-download"></i></span>
        </a>
        <a *ngIf="!row.importing && !row.importError"
           [href]="row._links.ome.href"
           ngbTooltip="Download metadata"
           placement="left"
           class="btn btn-light">
                  <span
                    aria-hidden="true"><i class="fa fa-info-circle"></i></span>
        </a>
        <button *ngIf="!imagesCollection.locked" type="button"
                ngbTooltip="Remove from collection"
                placement="left"
                class="btn btn-light" (click)="deleteImage(row);">
                  <span class="fa fa-times"
                        aria-hidden="true"></span>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsImages"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsImages;"></tr>
  </table>

  <div class="container-fluid topMarge20">
    <div class="row">
      <div class="col-md-5">
      </div>
      <div class="col-md-3 text-right topMarge5">
        <span class="goToSpan">
           <mat-form-field class="inputPage">
              <input matInput [(ngModel)]="goToPageImages" placeholder="Go to page">
            </mat-form-field>
          <button class="btn-xs goToButton"
                (click)="goToPageImage()"
                [disabled]="goToPageImages<1 ||
                 goToPageImages>= imagesCollection.numberOfImages/pageSizeImages+1 ||
                 !goToPageImages">
          <span class="goToTxt">Go</span>
          <i class="fas fa-angle-right arrowIcon"></i>
        </button>
        </span>
      </div>
      <div class="col-md-4" >
        <mat-paginator (page)="imagesPageChanged($event)" [length]="resultsLengthImages" [pageSize]="pageSizeImages" [pageSizeOptions]="pageSizeOptions" #imagesPaginator></mat-paginator>
      </div>
    </div>
  </div>


  <h4>Metadata files</h4>
  <div class='row'>
    <div class='col-sm-2'>
      # of files: {{imagesCollection.numberOfMetadataFiles}}
    </div>
    <div class='col-sm-2'>
      Total size: {{imagesCollection.metadataFilesTotalSize| bytes}}
    </div>
    <div class='col-sm-3 text-right'></div>
    <div class='col-sm-3 text-right'></div>
    <div class='col-sm-2 text-right'>
      <button *ngIf="!imagesCollection.locked" type="button"
              ngbTooltip="Delete all metadata files"
              placement="left"
              class="btn btn-light"
              (click)="deleteAllMetadataFiles()">
                <span class="fa fa-times"
                      aria-hidden="true"></span>
      </button>
    </div>
  </div>

  <table mat-table [dataSource]="metadataFiles" (matSortChange)="metadataSortChanged($event)" #metadataFilesSort
         matSort  matSortActive="name" matSortDisableClear matSortDirection="asc">

    <!-- # Column -->
    <ng-container matColumnDef="index">
      <th mat-header-cell *matHeaderCellDef>#</th>
      <td mat-cell *matCellDef="let id=index">
        {{ (pageSizeMetadataFiles * metadataFilesPaginator.pageIndex) + id + 1 }}
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let row">
        {{ row.fileName }}
        <span [hidden]="!row.importError"><br>{{row.importError}}</span>
      </td>
    </ng-container>

    <!-- FileSize Column -->
    <ng-container matColumnDef="size">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Size</th>
      <td mat-cell *matCellDef="let row">{{ row.fileSize | bytes }}</td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let row">
        <a [href]="row._links.self.href"
           ngbTooltip="Download file"
           placement="left"
           class="btn btn-light">
                  <span
                    aria-hidden="true"><i class="fa fa-download"></i></span>
        </a>
        <button *ngIf="!imagesCollection.locked" type="button"
                ngbTooltip="Remove from collection"
                placement="left"
                class="btn btn-light" (click)="deleteMetadataFile(row);">
                  <span class="fa fa-times"
                        aria-hidden="true"></span>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsMetadata"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsMetadata;"></tr>
  </table>


  <div class="container-fluid topMarge20">
    <div class="row">
      <div class="col-md-5">
      </div>
      <div class="col-md-3 text-right topMarge5">
        <span class="goToSpan">
           <mat-form-field class="inputPage">
              <input matInput [(ngModel)]="goToPageMetadataFiles" placeholder="Go to page">
            </mat-form-field>
          <button class="btn-xs goToButton"
                (click)="goToPageMetadata()"
                [disabled]="goToPageMetadataFiles<1 ||
                 goToPageMetadataFiles> imagesCollection.numberOfMetadataFiles/pageSizeMetadataFiles+1 ||
                  !goToPageMetadataFiles">
          <span class="goToTxt">Go</span>
          <i class="fas fa-angle-right arrowIcon"></i>
          </button>
        </span>
      </div>

      <div class="col-md-4">
        <mat-paginator (page)="metadataPageChanged($event)" [length]="resultsLengthMetadataFiles" [pageSize]="pageSizeMetadataFiles" [pageSizeOptions]="pageSizeOptions" #metadataFilesPaginator></mat-paginator>
      </div>

    </div>
  </div>
</div>
