<h1 class="wipp-title">
  {{imagesCollection.name}}
  <div style="display: inline-block;">
    <p-button icon="pi pi-download" *ngIf="getNbFiles() > 0"
            (click)="openDownload(imagesCollection._links.download.href)"
            pTooltip="Download as zip"
            tooltipPosition="left"
            [outlined]="true">
    </p-button>
    <!-- TODO: add copy collection -->
    <!--<button type="button" class="btn btn-default"-->
    <!--ng-click="vm.copyCollection();"-->
    <!--data-uib-tooltip="Copy collection"-->
    <!--data-tooltip-placement="left">-->
    <!--<span class="glyphicon glyphicon-copy"></span>-->
    <!--</button>-->
    <p-button icon="pi pi-trash" *ngIf="canEdit()" type="button"
            pTooltip="Delete collection"
            [disabled]="imagesCollection.publiclyShared && !canDeletePublicData()"
            tooltipPosition="left"
            [outlined]="true"
            (click)="deleteCollection();">
    </p-button>
    <p-button icon="pi pi-lock-open" *ngIf="!imagesCollection.locked && canEdit()" type="button"
            pTooltip="Lock collection"
            tooltipPosition="left"
            [outlined]="true"
            (click)="lockCollection();">
    </p-button>
    <p-button icon="pi pi-lock" *ngIf="imagesCollection.locked" type="button"
              pTooltip="Collection locked"
              tooltipPosition="left"
              [disabled]="true"
              [outlined]="true" >
    </p-button>
    <p-button icon="pi pi-globe" *ngIf="!imagesCollection.publiclyShared && canEdit()" type="button"
            pTooltip="Make collection public"
            tooltipPosition="left"
            [outlined]="true"
            (click)="makePublicCollection();">
    </p-button>
    <p-button icon="pi pi-pen-to-square" *ngIf="!imagesCollection.publiclyShared && canEdit()" type="button"
              pTooltip="Create image annotations"
              label="Annotate"
              tooltipPosition="left"
              [outlined]="true"
              (click)="annotate();">
    </p-button>
  </div>
</h1>

<p-fieldset legend="Details" [toggleable]="true">
<div class="grid nested-grid">
  <div class="col-12 md:col-6">
    <div class="grid">
      <div class="col-3 py-1 font-semibold">
        Name:
      </div>
      <div class="col-9 py-1">
        {{imagesCollection.name}}
      </div>
      <div class="col-3 py-1 font-semibold">
        Creation date:
      </div>
      <div class="col-9 py-1">
        {{imagesCollection.creationDate | date}}
      </div>
      <div class="col-3 py-1 font-semibold">
        Owner:
      </div>
      <div class="col-9 py-1">
        {{imagesCollection.owner}}
      </div>
      <div class="col-3 py-1 font-semibold">
        Format:
      </div>
      <div class="col-9 py-1">
        <span *ngIf="imagesCollection.format; else jobNonAvailable">{{imagesCollection.format}}</span>
      </div>
      <div class="col-3 py-1 font-semibold">
        Number of files:
      </div>
      <div class="col-9 py-1">
        {{getNbFiles()}}
      </div>
      <div class="col-3 py-1 font-semibold">
        Total size:
      </div>
      <div class="col-9 py-1">
        {{
        imagesCollection.imagesTotalSize
        + imagesCollection.metadataFilesTotalSize
          | bytes
        }}
      </div>
      <div class="col-3 py-1 font-semibold">
        Source:
      </div>
      <div class="col-9 py-1">
        <span *ngIf="imagesCollection.sourceJob; then jobTemplate; else importTemplate"></span>
        <ng-template #jobTemplate>
          <a *ngIf="sourceJob; else jobNonAvailable" (click)="displayJobModal(imagesCollection.sourceJob)"
             class="wipp-link"
             pTooltip="Show Job"
             placement="left">
            {{sourceJob.name}}
          </a>
        </ng-template>
        <ng-template #importTemplate>
          <div *ngIf="imagesCollection.importMethod == 'CATALOG'">
            <a [href]="sourceCatalogLink"
               target="_blank"
               [pTooltip]="catalogTipContent"
               placement="left">
              Catalog
            </a>
          </div>
          <div *ngIf="!imagesCollection.importMethod || imagesCollection.importMethod == 'UPLOADED'">
            Uploaded
          </div>
          <div *ngIf="imagesCollection.importMethod == 'BACKEND_IMPORT'" pTooltip="Backend import folder">
            {{imagesCollection.sourceBackendImport}}
          </div>
        </ng-template>

        <ng-template #catalogTipContent>Go to Catalog
          <span
            aria-hidden="true"><i class="fas fa-external-link-alt"></i></span>
        </ng-template>
      </div>
      <div class="col-3 py-1 font-semibold">
        Visibility:
      </div>
      <div class="col-9 py-1">
        <div *ngIf="imagesCollection.publiclyShared; else privateData">Public</div>
        <ng-template #privateData>Private</ng-template>
      </div>
    </div>
  </div>
  <div class="col-12 md:col-6">
    <div class="grid">
      <div class="col-3">
        <p-button severity="secondary" [outlined]="true"
                (click)="changeShowNotes()">
          <a *ngIf="showNotes; then hide; else show"></a>
        </p-button>
        <ng-template #show> Show Notes</ng-template>
        <ng-template #hide> Hide Notes</ng-template>
        <p-button *ngIf="canEdit()" severity="secondary" [outlined]="true"
                (click)="changeEditNotes()"
                [hidden]="!showNotes || editNotes">
          Edit Notes
        </p-button>
        <div [hidden]="!editNotes || !showNotes || !canEdit()">
            <p-button severity="success"
                    (click)="saveNotes()"
                    [disabled]="imageCollectionNotes == imagesCollection.notes">
              Save
            </p-button>
            <p-button severity="danger"
                    (click)="clearNotes()"
                    [hidden]="!editNotes">
              Cancel
            </p-button>
        </div>
      </div>

      <div class="col-9">
           <textarea class="wideTxtArea"
                     [hidden]="!showNotes"
                     [disabled]="!editNotes"
                     type="text"
                     [(ngModel)]="imageCollectionNotes"
                     name="imageCollectionNotes"></textarea>
      </div>
    </div>
  </div>
</div>
</p-fieldset>

<p-fieldset legend="Upload options" [toggleable]="true" *ngIf="!imagesCollection.locked">
  <div class="grid">
    <div class="col-12 md:col-6">
      <span class="font-semibold">Filename filtering pattern: </span>{{getPattern()}}
    </div>
  </div>

  <div [hidden]="!flowHolder.supportDirectory  || !canEdit()" class="grid">
    <span class="font-semibold pt-3 pb-2 col-12">Folder upload:</span>
    <div class="col-11 ml-md-1">
      <input type="radio" id="regular" name="upload" value="regular"
             [(ngModel)]="uploadOption">
      Upload images from folder and sub-folders (do not prefix images names with folders relative path)
      <br/>
      <input type="radio" id="includeSubsInPath"
             name="upload" value="includeSubsInPath"
             [(ngModel)]="uploadOption">
      Upload images from folder and sub-folders (prefix images names with folders relative path)
      <br/>
      <input type="radio" id="ignoreSubFolders"
             name="upload" value="ignoreSubs"
             [(ngModel)]="uploadOption">
      Ignore sub-folders
      <br/>
    </div>
  </div>
  <br/>

  <div class="grid">
    <div class="col-12 md:col-4">
      <div class="block p-1 flex justify-content-center">
        <button pButton icon="pi pi-file-plus"
                class="p-button p-button-secondary w-full lg:w-6"
                label="Add files to collection"  #browseBtn>
        </button>
      </div>
      <div class="block p-1 flex justify-content-center">
        <button class="p-button p-button-secondary w-full lg:w-6"
                pButton icon="pi pi-folder-plus"
                label="Add folder to collection" #browseDirBtn
                [hidden]="!flowHolder.supportDirectory">
        </button>
      </div>
    </div>
    <div class="col-12 md:col-2 text-center">
      OR
    </div>
    <div class="col-12 md:col-6">
      <div class="upload-drop-zone" #dropArea>
        Drag And Drop the files <span [hidden]="!flowHolder.supportDirectory">
                    &nbsp;or a folder&nbsp;
                </span>
        here.
      </div>
    </div>
  </div>
</p-fieldset>
<div [hidden]="!hasFilesNotComplete(flowHolder.files)">
  <h2 class="top10">Transfers</h2>
  <div class="grid">
    <div class="col-3">
      Number of files: {{flowHolder.files.length}}
    </div>
  </div>
  <table class="p-datatable">
    <thead class="p-datatable-thead">
    <tr>
      <th>#</th>
      <th>File name</th>
      <th>Size</th>
      <th>Progress</th>
      <th>Error</th>
    </tr>
    </thead>
    <tbody class="p-datatable-tbody">
    <tr *ngFor="let file of flowHolder.files | slice:0:10; let index=index">
      <td class="vert-align">{{index + 1}}</td>
      <td class="vert-align">{{file.name}}</td>
      <td class="vert-align">{{file.size | bytes}}</td>
      <td *ngIf='!file.error'>
        <p-progressBar aria-label="Upload progress" showValue='false' [value]="file.progress()*100.0" />
      </td>
      <td>
        <span *ngIf='file.error'>{{file.errorMesage|| "Unknown upload error."}}</span>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<h2 style="margin-top: 2%">Images</h2>

<div class="card">
  <div class='flex flex-column md:flex-row md:justify-content-between py-2'>
    <div class='mb-2 md:mb-0 vertical-align-baseline'>
      # of images: {{imagesCollection.numberOfImages}}
    </div>
    <div class='mb-2 md:mb-0' style="position:relative">
      Total size: {{imagesCollection.imagesTotalSize| bytes}}
    </div>
    <div class='mb-3 md:mb-0' style="position:relative">
      Images being converted: {{imagesCollection.numberImportingImages}}
    </div>
    <div class="mb-3 md:mb-0 vertical-align-middle">
        Import errors: {{imagesCollection.numberOfImportErrors}}
    </div>
    <div class='mb-2 md:mb-0' *ngIf="canEdit()">
      <p-button icon="pi pi-trash" *ngIf="!imagesCollection.locked"
                size="small"
                severity="danger"
                pTooltip="Delete all images"
              placement="left"
              (click)="deleteAllImages()">
      </p-button>
    </div>
  </div>
  <p-dataView #dv [value]="imagesTest" [layout]="layout" paginatorPosition="bottom"
              [paginator]="true" [rows]="12" [sortField]="sortField" [lazyLoadOnInit]="true"
              [lazy]="true" (onLazyLoad)="loadData($event)" [totalRecords]="resultsLengthImages">
    <ng-template pTemplate="header">
      <div class="flex flex-column md:flex-row md:justify-content-between">
        <p-dropdown [options]="sortOptions" placeholder="Sort By" [(ngModel)]="sortField" styleClass="mb-2 md:mb-0" />
        <div style="position:relative">
          <p-dropdown [options]="contrastOptions"  placeholder="Adjust Contrast" [(ngModel)]="contrastField" [style]="{'min-width':'140px'}"></p-dropdown>
          <p-dropdown [options]="colorMapOptions"  placeholder="Colormap" [(ngModel)]="colorMapField" [style]="{'min-width':'140px'}"></p-dropdown>
          <p-dropdown [options]="invertOptions"  placeholder="Invert" [(ngModel)]="invertField" [style]="{'min-width':'140px'}"></p-dropdown>
        </div>
        <p-dataViewLayoutOptions/>
      </div>
    </ng-template>

    <ng-template let-images pTemplate="list">
      <div class="grid grid-nogutter">
        <div class="col-12" *ngFor="let image of images; let first = first">
          <div class="flex flex-column sm:flex-row sm:align-items-center p-2 pl-3 gap-3" [ngClass]="{ 'border-top-1 surface-border': !first }">
            <div class="relative">
              <a (click)="openDeepZoomImage(wdztContent, image)" *ngIf="!image.importing && !image.importError">
                <img src="{{iipRootUrl}}?CNT={{contrastField}}&CMP={{colorMapField}}{{invertField}}&IIIF={{ imagesCollection.id }}/images/{{ image.fileName }}/full/128,/0/default.jpg" alt="..."
                     class="block xl:block mx-auto border-round lg:w-full">
              </a>
              <p-skeleton size="128px" [animation]="image.importing?'wave':'none'" *ngIf="image.importing || image.importError"/>
            </div>
            <div class="flex flex-column md:flex-row justify-content-between md:align-items-center flex-1 gap-4">
              <div class="flex flex-row md:flex-column justify-content-between align-items-start gap-2 pl-6">
                <div>
                  <div class="text-lg font-medium text-900 mt-2">{{image.fileName}}</div>
                  <span [hidden]="!image.importError"><br>{{image.importError}}</span>
                  <span class="font-medium text-secondary text-sm">{{ image.fileSize | bytes }}</span>
                </div>
              </div>
            </div>
            <div class="flex flex-column md:align-items-end gap-5 pr-2">
              <div class="flex flex-row-reverse md:flex-row gap-2">
                <p-button icon="pi pi-download" [outlined]="true" label="Download" size="small"
                          class="flex-auto md:flex-initial white-space-nowrap"
                          *ngIf="!image.importing && !image.importError"
                          (click)="openDownload(image._links.download.href)"/>
                <p-button icon="pi pi-code" label="Metadata" size="small"
                          class="flex-auto md:flex-initial white-space-nowrap"
                          severity="secondary"
                          *ngIf="!image.importing && !image.importError"
                          (click)="openDownload(image._links.ome.href)"/>
                <p-button icon="pi pi-trash" [outlined]="true" label="Delete" size="small"
                          class="flex-auto md:flex-initial white-space-nowrap"
                          severity="danger"
                          *ngIf="!imagesCollection.locked && canEdit()"
                          (click)="deleteImage(image);"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template let-images pTemplate="grid">
      <div class="grid grid-nogutter">
        <div class="col-12 md:col-6 lg:col-3 p-2"  *ngFor="let image of images;">
          <div class="p-4 border-1 surface-border surface-card border-round flex flex-column">
            <div class="surface-50 flex justify-content-center border-round p-3">
              <div class="relative mx-auto">
                <a (click)="openDeepZoomImage(wdztContent, image)" *ngIf="!image.importing && !image.importError">
                  <img src="{{iipRootUrl}}?CNT={{contrastField}}&CMP={{colorMapField}}{{invertField}}&IIIF={{ imagesCollection.id }}/images/{{ image.fileName }}/full/256,/0/default.jpg" class="card-img-top" alt="...">
                </a>
                <p-skeleton size="256px" [animation]="image.importing?'wave':'none'" *ngIf="image.importing || image.importError"/>
              </div>
            </div>
            <div class="pt-4">
              <div class="flex flex-row justify-content-between align-items-start gap-2">
                <div>
                  <div class="text-lg font-medium text-900 mt-1">{{image.fileName}}</div>
                  <span class="font-medium text-secondary text-sm">{{ image.fileSize | bytes }}</span>
                  <span [hidden]="!image.importError"><br>{{image.importError}}</span>
                </div>
              </div>
              <div class="flex flex-column gap-4 mt-4">
                <div class="flex gap-2">
                  <p-buttonGroup>
                    <p-button icon="pi pi-download" [outlined]="true" aria-label="Download" size="small"
                              class="flex-auto md:flex-initial white-space-nowrap"
                              *ngIf="!image.importing && !image.importError"
                              (click)="openDownload(image._links.download.href)"/>
                    <p-button icon="pi pi-code" [outlined]="true" aria-label="Metadata" size="small"
                              class="flex-auto md:flex-initial white-space-nowrap"
                              severity="secondary"
                              *ngIf="!image.importing && !image.importError"
                              (click)="openDownload(image._links.ome.href)"/>
                    <p-button icon="pi pi-trash" [outlined]="true" aria-label="Delete" size="small"
                              class="flex-auto md:flex-initial white-space-nowrap"
                              severity="danger"
                              *ngIf="!imagesCollection.locked && canEdit()"
                              (click)="deleteImage(image);"/>
                  </p-buttonGroup>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>

  </p-dataView>
</div>

<h2 style="margin-top: 2%">Metadata files</h2>
<div class="card">
  <div class='flex flex-column md:flex-row md:justify-content-between py-2'>
    <div class='mb-2 md:mb-0 vertical-align-baseline'>
      # of files: {{imagesCollection.numberOfMetadataFiles}}
    </div>
    <div class='mb-2 md:mb-0' style="position:relative">
      Total size: {{imagesCollection.metadataFilesTotalSize| bytes}}
    </div>
    <div class='mb-3 md:mb-0' style="position:relative">
    </div>
    <div class="mb-3 md:mb-0 vertical-align-middle">
    </div>
    <div class='mb-2 md:mb-0' *ngIf="canEdit()">
      <p-button icon="pi pi-trash" *ngIf="!imagesCollection.locked"
                size="small"
                severity="danger"
                pTooltip="Delete all metadata files"
                placement="left"
                (click)="deleteAllMetadataFiles()">
      </p-button>
    </div>
  </div>
  <p-table [value]="metadataFiles2" [lazy]="true"
           (onLazyLoad)="loadMetaFiles($event)"
           dataKey="id"
           [tableStyle]="{ 'min-width': '75rem' }"
           [paginator]="true"
           [rows]="10"
           [rowsPerPageOptions]="[10, 25, 50]"
           [totalRecords]="resultsLengthMetadataFiles">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="fileName">
          Name <p-sortIcon field="name" />
        </th>
        <th pSortableColumn="fileSize">
          Size <p-sortIcon field="fileSize" />
        </th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-metaFile>
      <tr>
        <td>
          {{ metaFile.fileName }}
          <span [hidden]="!metaFile.importError"><br>{{metaFile.importError}}</span>
        </td>
        <td>{{ metaFile.fileSize | bytes }}</td>
        <td>
          <p-button icon="pi pi-download" [outlined]="true" label="Download" size="small"
                    class="flex-auto md:flex-initial white-space-nowrap"
                    (click)="openDownload(metaFile._links.self.href)"/>
          <p-button icon="pi pi-trash" [outlined]="true" label="Delete" size="small"
                    class="flex-auto md:flex-initial white-space-nowrap"
                    severity="danger"
                    *ngIf="!imagesCollection.locked && canEdit()"
                    (click)="deleteMetadataFile(metaFile);"/>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog header="Deep Zoom View" [modal]="true" [(visible)]="dzvVisible"
          (onShow)="displayDeepZoomImage()" (onHide)="closeDeepZoomImage()"
          [style]="{ width: '50rem' }" >
  <div id="openseadragon-img" style="height: 450px"></div>
</p-dialog>

<ng-template #jobNonAvailable>N/A</ng-template>

<p-toast position="top-center"/>
