<div class="row wipp-title">
  <div class="col-md-6">
    <h3 class="d-inline">Workflow detail</h3>
    <button *ngIf="workflow.status === 'CREATED'"
            class="btn btn-outline-dark wipp-btn wf-btn-submit"
            [disabled]="jobs.length < 1" (click)="submitWorkflow()">
      <i class="fas fa-arrow-alt-circle-right">
        <p>Submit workflow</p>
      </i>
    </button>
    <button
      *ngIf="workflow.generatedName"
      class="btn btn-outline-dark wipp-btn wf-btn-submit">
      <i class="fas fa-sitemap"> </i>
      <a class="nav-link"
         href={{argoUiLink}}
         target="_blank"
         style="color:inherit; text-decoration: none; display: inline"
         [ngbTooltip]="argoUiTipContent"
      >
        <p style=" display: inline; font-family: 'Roboto', sans-serif ; font-weight: normal">
          Monitor in Argo
        </p>
      </a>
    </button>
  </div>
</div>

<ngx-spinner></ngx-spinner>

<div class="top20">
  <div class="row">
    <div class="col-md-12"><b>Name:</b> {{workflow.name}}</div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <b>Status:</b> {{workflow.status}}
      <span *ngIf="workflow.status === 'ERROR' && workflow.errorMessage"
            ngbTooltip={{workflow.errorMessage}}
            placement="right"
            aria-hidden="true"><i class="far fa-question-circle"></i>
          </span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12"><b>Creation Date:</b> {{workflow.creationDate | date}}</div>
  </div>

  <div class="wf-tasks">
    <h4>Workflow tasks</h4>
    <div class="row">
      <div class="col-md-2">
        <button class="btn btn-outline-dark wipp-btn wf-btn-graph" (click)="open(addStepModal)"
                [disabled]="! workflow.name || workflow.status!='CREATED'">
          <i class="fas fa-plus-circle">
            <p>Add task</p>
          </i>
        </button>
        <h5 class="top20">Graph options</h5>
        <div class="form-group">
          <label>Orientation:</label>
          <select class="form-control" [(ngModel)]="layoutSettings.orientation" (change)="updateGraph();">
            <option *ngFor="let orient of orientationOptions" [ngValue]="orient.value">{{ orient.label }}</option>
          </select>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" [(ngModel)]="enableZoom">
          <label class="form-check-label">Enable zoom</label>
        </div>
      </div>
      <div class="col-md-9 wf-dag">
        <ngx-graph
          *ngIf="jobs.length > 0"
          class="chart-container"
          [ngStyle]="{'pointer-events':enableZoom === true ? 'all' : 'none' }"
          [links]=links
          [nodes]=nodes
          [update$]="update$"

          [layoutSettings]="layoutSettings"
          [enableZoom]="enableZoom"
          [draggingEnabled]="false"
          [panningEnabled]="enableZoom"
          [autoCenter]="!enableZoom"
          [autoZoom]="!enableZoom"
          [panOnZoom]="true"
          [animate]="true"
        >
          <ng-template #nodeTemplate let-node>
            <svg:g class="node" (click)="displayJobModal(node.id)"
            >
              <svg:rect
                [attr.width]="node.dimension.width"
                [attr.height]="node.dimension.height"
                [attr.fill]="node.data.color"
              />
              <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="node.dimension.height / 2">
                {{node.label}}
              </svg:text>
            </svg:g>
          </ng-template>

        </ngx-graph>

      </div>
    </div>
  </div>
</div>

<ng-template #addStepModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">New Task</h4>
    <button type="button" class="close" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="pluginName">Plugin:</label>
      <select id="pluginName" class="form-control" #pluginName [(ngModel)]="selectedSchema">
        <option *ngFor="let plugin of pluginList" [ngValue]="plugin">{{ plugin.name }} {{ plugin.version }}</option>
      </select>
    </div>
    <sf-form [hidden]="!selectedSchema.isSchemaValid"
             [schema]="selectedSchema" [bindings]="selectedSchema.fieldBindings" #jsonForm>
    </sf-form>
    <div [hidden]="selectedSchema.isSchemaValid" class="alert alert-danger">
      Unable to generate form for {{ selectedSchema.name }} {{ selectedSchema.version }}, plugin manifest is invalid.
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-outline-dark" (click)="c(jsonForm.rootProperty.value)">
      <i class="fas fa-plus-circle" style="margin-right: 10px">
        <p style="margin-left: 10px; display: inline; font-family: 'Roboto', sans-serif ; font-weight: normal">Add
          task</p>
      </i>
    </button>
  </div>
</ng-template>

<ng-template #argoUiTipContent> See in Argo dashboard
  <span
    aria-hidden="true"><i class="fas fa-external-link-alt"></i></span>
</ng-template>
