.clusters rect {
  fill: #00ffd0;
  stroke: #999;
  stroke-width: 1.5px;
}

text {
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
  font-size: 14px;
}

/*.node rect {*/
  /*stroke: #999;*/
  /*fill: #fff;*/
  /*stroke-width: 1.5px;*/
/*}*/

.edgePath path {
  stroke: #333;
  stroke-width: 1.5px;
}

.chart-container {
  overflow: hidden;
}

.node {
  pointer-events: all;
  cursor: pointer;
}

.wf-btn-submit {
  margin-left: 2%;
  margin-top: -1%
}

.wf-btn-graph {
  margin-bottom: 10px;
}

.wf-dag {
  border: dotted 2px lightgray ;
  min-height: 500px;
  height: 90%;
  overflow: hidden;
}

.wf-tasks {
  margin-top: 30px;
  margin-bottom: 40px;
}

.criteria {
  width: calc((100% - 30px) / 2);
  margin-bottom: 10px;
}

.category {
  float: left;
}

.institution {
  float: right;
}