<h3>Workflow detail</h3>

<div style="margin-top: 20px">
  <div class="row">
    <div class="col-md-12"><b>Name:</b> {{workflow.name}}</div>
  </div>
  <div class="row">
    <div class="col-md-12"><b>Status:</b> {{workflow.status}}</div>
  </div>
  <div class="row">
    <div class="col-md-12"><b>Creation Date:</b> {{workflow.creationDate | date}}</div>
  </div>

  <div [hidden]="workflow.status!='CREATED'" style="margin-top: 50px; margin-bottom: 20px">
    <h4 style="margin-bottom: 20px">Workflow tasks</h4>
    <div class="row">
      <div class="col-md-6">
        <button class="btn btn-outline-dark" (click)="open(addStepModal)"
                [disabled]="!workflow.name">Add task
        </button>
      </div>
      <div class="col-md-6" style="right: -300px">
        <button class="btn btn-outline-dark" (click)="submitWorkflow()">Submit workflow</button>
      </div>
    </div>
  </div>

  <table mat-table class="table-hover" [dataSource]="jobs" #jobsSort>

    <!-- # Column -->
    <ng-container matColumnDef="index">
      <th mat-header-cell *matHeaderCellDef>#</th>
      <td mat-cell *matCellDef="let id=index">
        {{ (pageSize * jobsPaginator.pageIndex) + id + 1 }}
      </td>
    </ng-container>

    <!-- Step / Type Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let row">
        <span>{{row.parameters.thresholdtype}} </span>
        <span *ngIf="row.parameters.thresholdvalue !=null"> : {{row.parameters.thresholdvalue }} </span>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let row">
        <span> {{ row.name }} </span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsJobs"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsJobs;" (click)="displayJobModal(row.id)"></tr>
  </table>

  <mat-paginator [length]="resultsLength" [pageSize]="pageSize" #jobsPaginator></mat-paginator>

  <ng-template #addStepModal let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">New Step</h4>
      <button type="button" class="close" aria-label="Close" (click)="d()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label for="pluginName">Plugin:</label>
        <select id="pluginName" class="form-control" #pluginName [(ngModel)]="selectedSchema">
          <option *ngFor="let plugin of pluginList" [ngValue]="plugin">{{ plugin.name }} {{ plugin.version }}</option>
        </select>
      </div>
      <sf-form [schema]="selectedSchema" [bindings]="selectedSchema.fieldBindings" #jsonForm></sf-form>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-outline-dark" (click)="c(jsonForm.rootProperty.value)">Add task</button>
    </div>
  </ng-template>
</div>
