<h3 class="wipp-title">Tensorflow Model Detail</h3>

<div>
  <div class="row">
    <div class="col-md-9">
      <dl class="row">
        <dt class="col-md-4">Name: </dt>
        <dd class="col-md-8">{{tensorflowModel.name}}</dd>

        <dt class="col-md-4">Creation Date: </dt>
        <dd class="col-md-8">{{tensorflowModel.creationDate | date}}</dd>

        <dt class="col-md-4">Owner:</dt>
        <dd class="col-md-8">{{tensorflowModel.owner}}</dd>

        <dt class="col-md-4">Training job: </dt>
        <dd class="col-md-8" *ngIf="job; else not_applicable">
          <a (click)="displayJobModal(job.id)"
             class="wipp-link"
             ngbTooltip="Show Job"
             placement="left">
            {{job.name}}
          </a>
        </dd>

        <dt class="col-md-4">Tensorboard Logs: </dt>
        <dd class="col-md-8" *ngIf="tensorboardLogs; else not_applicable">
          <a href={{tensorboardLink}} target="_blank">{{tensorboardLogs.name}}</a>
        </dd>
        <ng-template #not_applicable>N/A</ng-template>
      </dl>
      <button *ngIf="!tensorflowModel.publiclyShared && canEdit()" type="button"
              ngbTooltip="Make Tensorflow model public"
              placement="left"
              class="btn btn-light" (click)="makePublicTensorflowModel();">
        <span class="fa fa-user-lock"
              aria-hidden="true"></span>
      </button>
    </div>

    <div class="col-md-3 text-right">
      <a
        [href]="tensorflowModel._links.download.href"
        ngbTooltip="Download as zip"
        placement="left"
        class="btn btn-light">
                  <span
                    aria-hidden="true"><i class="fa fa-download"></i></span>
      </a>
    </div>
  </div>
</div>
