<h1 class="wipp-title">
  {{csvCollection.name}}
  <div style="display: inline-block;">
    <p-button icon="pi pi-download" (click)="downloadAllCsvFiles(csvCollection._links.download.href)"
      pTooltip="Download as zip" tooltipPosition="left">
    </p-button>
    <p-button icon="pi pi-trash" *ngIf="canEdit() && !csvCollection.locked && !csvCollection.sourceJob" type="button"
      pTooltip="Delete collection" tooltipPosition="left" [outlined]="true" severity="danger"
      (click)="deleteCollection();">
    </p-button>
    <p-button icon="pi pi-lock-open" *ngIf="canEdit() && !csvCollection.locked && !csvCollection.sourceJob"
      type="button" pTooltip="Lock collection" tooltipPosition="left" [outlined]="true" (click)="lockCollection();">
    </p-button>
    <p-button icon="pi pi-lock" *ngIf="csvCollection.locked || csvCollection.sourceJob" type="button"
      pTooltip="Collection locked" tooltipPosition="left" [disabled]="true" [outlined]="true">
    </p-button>
    <p-button icon="pi pi-globe" *ngIf="!csvCollection.publiclyShared && canEdit()" type="button"
      pTooltip="Make collection public" tooltipPosition="left" [outlined]="true" (click)="makePublicCollection();">
    </p-button>
    <a *ngIf="plotsUiLink" class="p-button p-button-outlined p-button-icon-only" pTooltip="Visualize in Plots UI"
      tooltipPosition="left" [href]="plotsUiLink" target="_blank">
      <span class="p-button-icon pi pi-check"></span>
    </a>
  </div>
</h1>

<p-fieldset legend="Details" [toggleable]="true">
  <div class="grid nested-grid">
    <div class="col-12 md:col-6">
      <div class="grid">
        <div class="col-3 py-1 font-semibold">
          Name:
        </div>
        <div class="col-9 py-1">
          {{csvCollection.name}}
        </div>
        <div class="col-3 py-1 font-semibold">
          Creation date:
        </div>
        <div class="col-9 py-1">
          {{csvCollection.creationDate | date}}
        </div>
        <div class="col-3 py-1 font-semibold">
          Owner:
        </div>
        <div class="col-9 py-1">
          {{csvCollection.owner}}
        </div>
        <div class="col-3 py-1 font-semibold">
          Source:
        </div>
        <div class="col-9 py-1">
          <a *ngIf="job; else jobNonAvailable" (click)="displayJobModal(job.id)" class="wipp-link" pTooltip="Show Job"
            placement="left">
            {{job.name}}
          </a>
        </div>
        <div class="col-3 py-1 font-semibold">
          Visibility:
        </div>
        <div class="col-9 py-1">
          <div *ngIf="csvCollection.publiclyShared; else privateData">Public</div>
          <ng-template #privateData>Private</ng-template>
        </div>
      </div>
    </div>
    <div class="col-12 md:col-6">
      <div class="block p-1 flex justify-content-left" *ngIf="!(csvCollection.locked || csvCollection.sourceJob)">
        <button pButton icon="pi pi-file-plus" class="p-button p-button-secondary" label="Add files to collection"
          #browseBtn>
        </button>
      </div>
    </div>
  </div>
</p-fieldset>

<div [hidden]="!hasFilesNotComplete(flowHolder.files)">
  <h2 class="top10">Transfers</h2>
  <div class="grid">
    <div class="col-3">
      Number of files: {{flowHolder.files.length}}
    </div>
  </div>
  <table class="p-datatable">
    <thead class="p-datatable-thead">
      <tr>
        <th>#</th>
        <th>File name</th>
        <th>Size</th>
        <th>Progress</th>
        <th>Error</th>
      </tr>
    </thead>
    <tbody class="p-datatable-tbody">
      <tr *ngFor="let file of flowHolder.files | slice:0:10; let index=index">
        <td class="vert-align">{{index + 1}}</td>
        <td class="vert-align">{{file.name}}</td>
        <td class="vert-align">{{file.size | bytes}}</td>
        <td *ngIf='!file.error'>
          <p-progressBar aria-label="Upload progress" showValue='false' [value]="file.progress()*100.0" />
        </td>
        <td>
          <span *ngIf='file.error'>{{file.errorMesage|| "Unknown upload error."}}</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<h2 style="margin-top: 2%">CSV Collection files ({{csvCollection.csvTotalSize | bytes}})</h2>

<div class="card">
  <p-table [value]="csv" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
            <th>Name</th>
            <th>Size</th>
            <th>Actions</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-csv>
        <tr>
            <td>{{ csv.fileName }}</td>
            <td>{{ csv.fileSize | bytes }}</td>
            <td>
              <p-button icon="pi pi-eye" [outlined]="true" label="Preview" size="small"
                (click)="showSingleCsvFile(csv);" />
              <p-button icon="pi pi-download" [outlined]="true" label="Download" size="small"
                (click)="downloadSingleCsvFile(csvCollection._links.csvCollection.href, csv.fileName);" />
              <p-button *ngIf="!csvCollection.locked && !csvCollection.sourceJob && canEdit()"
                icon="pi pi-trash" [outlined]="true" label="Delete" size="small" severity="danger"
                (click)="deleteSingleCsvFile(csv);"/>
            </td>
        </tr>
    </ng-template>
  </p-table>
</div>

<ng-template #jobNonAvailable>Uploaded</ng-template>
<p-toast />