/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@qontu/ngx-inline-editor/themes/bootstrap.css';

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }
table {
  width: 100%;
}
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  margin-bottom: 10px;
}

.array-remove-button {
  margin-top: -15px;
}

wippwdzt {
  display: block;
  width: 100%;
}

.wipp-title {
  margin-top: 2%;
  margin-bottom: 2%;
}

.wipp-btn-new {
  background-color: #f8f9fa;
  border-color: #bfbfbf;
  color: black
}

.wipp-btn > i {
  margin-right: 10px;
}

.wipp-btn > i > p {
  margin-left: 10px;
  display: inline;
  font-family: 'Roboto', sans-serif ;
  font-weight: normal;
}

a.wipp-link:not([href]):not([tabindex]) {
  cursor: pointer;
  color: #007bff;
  text-decoration: none;
}

a.wipp-link:not([href]):not([tabindex]):hover {
  text-decoration: underline;
  color: #0056b3;
}

dd {
  margin-bottom: 0;
}

a.c-inline-editor {
  line-height: 0;
  margin-left: 0px;
  margin-right: 0px;
}

.top15 {
  margin-top: 15px;
}

.top20 {
  margin-top: 20px;
}