<h3 class="wipp-title">Pyramid Detail</h3>

<div class="top20">
  <div class="row">
    <div class="col-md-12"><b>Name: </b> {{pyramid.name}}</div>
  </div>

  <div class="row">
    <div class="col-md-12"><b>Creation Date: </b> {{pyramid.creationDate | date}}</div>
  </div>


  <div class="row" *ngIf="job">
    <div class="col-md-5">
      <b> Pyramid job: </b>
      <a (click)="displayJobModal(job.id)"
         class="wipp-link"
         ngbTooltip="Show Job"
         placement="left">
        {{job.name}}
      </a>
    </div>
  </div>
</div>
<wippWdzt [manifest]="manifest"></wippWdzt>

