<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">
    <span class="glyphicon glyphicon-star"></span> Job detail
  </h4>
  <button type="button" class="close" aria-label="Close" (click)="modalReference.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<!-- Job details Table -->
<div class="modal-body" *ngIf="job">
  <div style="margin-top: 20px">
    <table class="table table-bordered">

      <!--  name line  -->
      <tr *ngIf="job.name">
        <th>
          <dt>Name:</dt>
        </th>
        <td>
          <dd class="col-md-8">{{job.name}}</dd>
        </td>
      </tr>

      <!--  creationDate line  -->
      <tr *ngIf=" job.creationDate">
        <th>
          <dt>Creation date:</dt>
        </th>
        <td>
          <dd class="col-md-8">{{job.creationDate | date}}</dd>
        </td>
      </tr>

      <!--  status line  -->
      <tr *ngIf="job.status">
        <th>
          <dt>Status:</dt>
        </th>
        <td>
          <dd class="col-md-8">{{job.status}}</dd>
        </td>
      </tr>

      <!--  startTime line  -->
      <tr *ngIf="job.startTime">
        <th>
          <dt>Start time:</dt>
        </th>
        <td>
          <dd class="col-md-8">{{job.startTime}}</dd>
        </td>
      </tr>

      <!--  endTime line  -->
      <tr *ngIf="job.endTime">
        <th>
          <dt>End time:</dt>
        </th>
        <td>
          <dd class="col-md-8">{{job.endTime}}</dd>
        </td>
      </tr>

      <!--  runningTime line  -->
      <tr *ngIf="job.runningTime">
        <th>
          <dt>Running time:</dt>
        </th>
        <td>
          <dd class="col-md-8">{{job.runningTime}}</dd>
        </td>
      </tr>

      <!--  wippVersion line  -->
      <tr *ngIf="job.wippVersion">
        <th>
          <dt>Computed in version:</dt>
        </th>
        <td>
          <dd class="col-md-8">{{job.wippVersion}}</dd>
        </td>
      </tr>

    </table>
  </div>
</div>

<!--Input Table -->
<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title2">
    <span class="glyphicon glyphicon-star"></span> Inputs
  </h4>
</div>
<div class="modal-body" *ngIf="job">
  <div style="margin-top: 20px">
    <table class="table table-bordered">

      <!--  input id or name line -->
      <tr *ngIf="inputKeys">
        <th>
          <dt>
            {{inputKeys[0]}}
          </dt>
        </th>
        <td>
          <dd class="col-md-8" (click)="modalReference.dismiss('Cross click')">
            <span *ngIf="!isOutput(job.parameters[inputKeys[0]]);then normalInput else chainedInput"></span>
            <ng-template #normalInput>
              <a routerLink="/images-collection/{{job.parameters[inputKeys[0]]}}">{{job.parameters[inputKeys[0]]}}
              </a></ng-template>
            <ng-template #chainedInput>{{tempInputName}}</ng-template>
          </dd>
        </td>
      </tr>

      <!--  input type line  -->
      <tr>
        <th>
          <dt>Input Type</dt>
        </th>
        <td>
          <dd class="col-md-8">{{inputType}}</dd>
        </td>
      </tr>

      <!--  other input parameters lines  -->
      <tr *ngFor="let inputKey of inputKeys">
        <th *ngIf=" job.parameters[inputKey] && (!(inputKey == inputKeys[0])) ">
          <dt>{{inputKey}}</dt>
        </th>
        <td *ngIf="job.parameters[inputKey] && (!(inputKey == inputKeys[0])) ">
          <dd class="col-md-8">{{job.parameters[inputKey]}}</dd>
        </td>
      </tr>

    </table>
  </div>
</div>

<!--Output Table -->
<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title3">
    <span class="glyphicon glyphicon-star"></span> Outputs
  </h4>
</div>
<div class="modal-body" *ngIf="job">
  <div style="margin-top: 20px">
    <table class="table table-bordered">

      <!--  output name line  -->
      <tr *ngFor="let outputKey of outputKeys">
        <th>
          <dt>Output Name</dt>
        </th>
        <td>
          <dd class="col-md-8">{{job.name}}-{{outputKey}}</dd>
        </td>
      </tr>

    </table>
  </div>
</div>
