<!--<h3 style="margin-top: 2%; margin-bottom: 2%">Notebook Detail</h3>-->

<!--<div style="margin-top: 20px">-->
  <!--<div class="row">-->
    <!--<div class="col-md-12"><b>Name: </b> {{notebook.name}}</div>-->
  <!--</div>-->

  <!--<div class="row">-->
    <!--<div class="col-md-12"><b>Creation Date: </b> {{notebook.creationDate | date}}</div>-->
  <!--</div>-->
<!--</div>-->
<!--<div #notebookDisplay class="container-fluid" ></div>-->

<!--<script src="../../../../node_modules/notebookjs/notebook.js">-->
  <!--var notebook = nb.parse(JSON.parse('raw_ipynb_json_string'));-->
<!--var rendered = notebook.render();-->
<!--document.body.appendChild(rendered);-->
<!--</script>-->
