#logo {
  /*background-color: rgb(249,249,249);*/
  height: 120px;}

#logo img {
  max-height:90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
}

.wipp-icon {
  width: 16px;
}

a:not([href]).dropdown-toggle:hover { 
    cursor: pointer;
}
