#logo {
  /*background-color: rgb(249,249,249);*/
  height: 120px;}

#logo img {
  max-height:90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
}

.wipp-icon {
  width: 16px;
}

a:not([href]).dropdown-toggle:hover {
    cursor: pointer;
}

.main-container {
  width: 98%;
  min-height: 100vh;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

footer {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.5rem 1rem;
  text-align: right;
  z-index: 10;
  margin-top: 10px;
  color: #555;
  border-top: 1px solid #e7e7e7;
}

