<header>
  <div id="logo">
    <img src="assets/img/logo-wipp.png">
  </div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">WIPP</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown" routerLinkActive="active" ngbDropdown>
          <a class="nav-link dropdown-toggle" id="dataDropdown" routerLinkActive="active" ngbDropdownToggle>Data</a>
          <div class="dropdown-menu" aria-labelledby="dataDropdown" ngbDropdownMenu>
            <a class="dropdown-item" routerLink="/images-collections" ngbDropdownItem>Images collections</a>
            <a class="dropdown-item" routerLink="/stitching-vectors" ngbDropdownItem>Stitching vectors</a>
            <a class="dropdown-item" routerLink="/pyramids" ngbDropdownItem>Pyramids</a>
          </div>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/plugins">Plugins</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/workflows">Workflows</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>

