<header>
  <div id="logo">
    <img src="assets/img/logo-wipp.png">
  </div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">WIPP</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/images-collections"routerLinkActive="active">Images collections</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>

