<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">
    <span class="glyphicon glyphicon-star"></span> Job detail
  </h4>
  <button type="button" class="close" aria-label="Close" (click)="modalReference.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<!-- Job details Table -->
<div class="modal-body" *ngIf="job" style="margin-top: 20px">
  <table class="table table-bordered">

    <!--  name line  -->
    <tr *ngIf="job.name">
      <th>
        <dt>Name:</dt>
      </th>
      <td>
        <dd class="col-md-8 breakLine">{{job.name}}</dd>
      </td>
    </tr>

    <!--  creationDate line  -->
    <tr *ngIf=" job.creationDate">
      <th>
        <dt>Creation date:</dt>
      </th>
      <td>
        <dd class="col-md-8 breakLine">{{job.creationDate | date}}</dd>
      </td>
    </tr>

    <!--  status line  -->
    <tr *ngIf="job.status">
      <th>
        <dt>Status:</dt>
      </th>
      <td>
        <dd class="col-md-8 breakLine">{{job.status}}</dd>
      </td>
    </tr>

    <!--  startTime line  -->
    <tr *ngIf="job.startTime">
      <th>
        <dt>Start time:</dt>
      </th>
      <td>
        <dd class="col-md-8 breakLine">{{job.startTime}}</dd>
      </td>
    </tr>

    <!--  endTime line  -->
    <tr *ngIf="job.endTime">
      <th>
        <dt>End time:</dt>
      </th>
      <td>
        <dd class="col-md-8 breakLine">{{job.endTime}}</dd>
      </td>
    </tr>

    <!--  runningTime line  -->
    <tr *ngIf="job.runningTime">
      <th>
        <dt>Running time:</dt>
      </th>
      <td>
        <dd class="col-md-8 breakLine">{{job.runningTime}}</dd>
      </td>
    </tr>

    <!--  wippVersion line  -->
    <tr *ngIf="job.wippVersion">
      <th>
        <dt>Computed in version:</dt>
      </th>
      <td>
        <dd class="col-md-8 breakLine">{{job.wippVersion}}</dd>
      </td>
    </tr>

  </table>
</div>

<!--Input Table -->
<div class="modal-header" (click)="showInputs = !showInputs">
  <h4 class="modal-title" id="modal-basic-title2">
    <span class="glyphicon glyphicon-star"></span>
    Inputs
    <i class="fas fa-caret-down"></i>
  </h4>
</div>
<div class="modal-body" *ngIf="job && showInputs" style="margin-top: 20px">
  <table class="table table-bordered">

    <!--  input id or name line -->
    <tr *ngFor="let input of plugin.inputs; let i = index">
      <th *ngIf="job.parameters[input['name']]">
        <dt>
          {{input['name']}}
        </dt>
      </th>
      <td *ngIf="job.parameters[input['name']]">
        <dd class="col-md-8 breakLine" (click)="modalReference.dismiss('Cross click')">
          <span *ngIf="!job.parameters[input['name']].includes('{{');then flatInput else linkedInput"></span>
        </dd>
      </td>
      <ng-template #flatInput>
        <app-dynamic-content type="{{input['type']}}"
                             idData="{{job.parameters[input['name']]}}"
                             defaultText="{{job.parameters[input['name']]}}">
        </app-dynamic-content>
      </ng-template>
      <ng-template #linkedInput>
        <app-dynamic-content type="{{input['type']}}"
                             idData = "{{outputHash[inputOrigins[i]]}}"
                             defaultText="{{inputOrigins[i]}}">
        </app-dynamic-content>
      </ng-template>
    </tr>

  </table>
</div>

<!--Output Table -->
<div class="modal-header" (click)="showOutputs = !showOutputs">
  <h4 class="modal-title" id="modal-basic-title3">
    <span class="glyphicon glyphicon-star"></span>
    Outputs
    <i class="fas fa-caret-down"></i>
  </h4>
</div>
<div class="modal-body" *ngIf="job && showOutputs" style="margin-top: 20px">
  <table class="table table-bordered">

    <!--  output name line  -->
    <tr *ngFor="let output of plugin.outputs">
      <th>
        <dt>{{output['type']}}
        </dt>
      </th>
      <td>
        <dd class="col-md-8 breakLine" (click)="modalReference.dismiss('Cross click')">
          <app-dynamic-content type="{{output['type']}}"
                               idData="{{job.outputParameters[output['name']]}}"
                               defaultText="{{job.name}}-{{output['name']}}">
          </app-dynamic-content>
        </dd>
      </td>
    </tr>

  </table>
</div>
