<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">
    <span class="glyphicon glyphicon-star"></span> Job detail
  </h4>
  <button type="button" class="close" aria-label="Close" (click)="modalReference.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<!-- Job details Table -->
<div class="modal-body" *ngIf="job" style="margin-top: 20px">
  <table class="table table-bordered">

    <!--  name line  -->
    <tr *ngIf="job.name">
      <th>
        <dt>Name:</dt>
      </th>
      <td>
        <dd class="col-md-8 breakLine">{{job.name}}</dd>
      </td>
    </tr>

    <!--  creationDate line  -->
    <tr *ngIf=" job.creationDate">
      <th>
        <dt>Creation date:</dt>
      </th>
      <td>
        <dd class="col-md-8 breakLine">{{job.creationDate | date}}</dd>
      </td>
    </tr>

    <!--  status line  -->
    <tr *ngIf="job.status">
      <th>
        <dt>Status:</dt>
      </th>
      <td>
        <dd class="col-md-8 breakLine">{{job.status}}</dd>
      </td>
    </tr>

    <!--  startTime line  -->
    <tr *ngIf="job.startTime">
      <th>
        <dt>Start time:</dt>
      </th>
      <td>
        <dd class="col-md-8 breakLine">{{job.startTime}}</dd>
      </td>
    </tr>

    <!--  endTime line  -->
    <tr *ngIf="job.endTime">
      <th>
        <dt>End time:</dt>
      </th>
      <td>
        <dd class="col-md-8 breakLine">{{job.endTime}}</dd>
      </td>
    </tr>

    <!--  runningTime line  -->
    <tr *ngIf="job.runningTime">
      <th>
        <dt>Running time:</dt>
      </th>
      <td>
        <dd class="col-md-8 breakLine">{{job.runningTime}}</dd>
      </td>
    </tr>

    <!--  wippVersion line  -->
    <tr *ngIf="job.wippVersion">
      <th>
        <dt>Computed in version:</dt>
      </th>
      <td>
        <dd class="col-md-8 breakLine">{{job.wippVersion}}</dd>
      </td>
    </tr>

  </table>
</div>

<!--Input Table -->
<div class="modal-header" (click)="showInputs = !showInputs">
  <h4 class="modal-title" id="modal-basic-title2">
    <span class="glyphicon glyphicon-star"></span>
    Inputs
    <i class="fas fa-caret-down"></i>
  </h4>
</div>
<div class="modal-body" *ngIf="job && showInputs" style="margin-top: 20px">
  <table class="table table-bordered">

    <!--  input id or name line -->
    <tr *ngFor="let input of plugin.inputs; let i = index" [ngSwitch]="input['type']">
      <th *ngIf="job.parameters[input['name']]">
        <dt>
          {{input['name']}}
        </dt>
      </th>
      <td *ngIf="job.parameters[input['name']]">
        <dd class="col-md-8 breakLine" (click)="modalReference.dismiss('Cross click')">
          <span *ngIf="!job.parameters[input['name']].includes('{{');then normalInput else chainedInput"></span>
        </dd>
      </td>
      <ng-template #normalInput>
        <a *ngSwitchCase="'collection'" routerLink="/images-collection/{{job.parameters[input['name']]}}">{{input['name']}}
        </a>
        <a *ngSwitchCase="'stitchingVector'" routerLink="/stitching-vectors/{{job.parameters[input['name']]}}">{{input['name']}}
        </a>
        <a *ngSwitchCase="'pyramid'" routerLink="/pyramids/{{job.parameters[input['name']]}}">{{input['name']}}
        </a>
        <a *ngSwitchDefault>{{job.parameters[input['name']]}}
        </a>
      </ng-template>
      <ng-template #chainedInput>
        <span *ngIf="job.status === 'SUCCEEDED'; then linkedInput else flatInput"></span>
      </ng-template>
      <ng-template #linkedInput>
        <a *ngSwitchCase="'collection'" routerLink="/images-collection/{{outputHash[inputOrigins[i]]}}">{{ '{' }}{{ '{'
          }} {{inputOrigins[i]}} {{ '}' }}{{ '}' }}
        </a>
        <a *ngSwitchCase="'stitchingVector'" routerLink="/stitching-vectors/{{outputHash[inputOrigins[i]]}}">{{ '{' }}{{
          '{' }} {{inputOrigins[i]}} {{ '}' }}{{ '}' }}
        </a>
        <a *ngSwitchCase="'pyramid'" routerLink="/pyramids/{{outputHash[inputOrigins[i]]}}">{{ '{' }}{{ '{' }}
          {{inputOrigins[i]}} {{ '}' }}{{ '}' }}
        </a>
        <a *ngSwitchDefault>
          {{job.parameters[input['name']]}}
        </a></ng-template>
      <ng-template #flatInput>
        <a>{{ '{' }}{{ '{' }} {{inputOrigins[i]}} {{ '}' }}{{ '}' }}
        </a>
      </ng-template>
    </tr>

    <div>
      <h2>Dynamic content
      </h2>
      <h3>Context: <input type="text" [(ngModel)]="context.text" />
      </h3>
      <app-dynamic-content></app-dynamic-content>
      <app-not-found></app-not-found>

      <!--<app-dynamic-content type="sample1" [context]="context">-->
      <!--</app-dynamic-content>-->
      <!--<app-dynamic-content type="sample2" [context]="context">-->
      <!--</app-dynamic-content>-->
      <!--<app-dynamic-content-->
        <!--type="some-other-type"-->
        <!--[context]="context" >-->
      <!--</app-dynamic-content>-->
    </div>

  </table>
</div>

<!--Output Table -->
<div class="modal-header" (click)="showOutputs = !showOutputs">
  <h4 class="modal-title" id="modal-basic-title3">
    <span class="glyphicon glyphicon-star"></span>
    Outputs
    <i class="fas fa-caret-down"></i>
  </h4>
</div>
<div class="modal-body" *ngIf="job && showOutputs" style="margin-top: 20px">
  <table class="table table-bordered">

    <!--  output name line  -->
    <tr *ngFor="let output of plugin.outputs" [ngSwitch]="output['type']">
      <th>
        <dt>{{output['type']}}
        </dt>
      </th>
      <td>
        <dd class="col-md-8 breakLine" (click)="modalReference.dismiss('Cross click')">
          <span *ngIf="job.status === 'SUCCEEDED';then linkedOutput else flatOutput"></span>
        </dd>
      </td>
      <ng-template #linkedOutput>
        <a *ngSwitchCase="'collection'" routerLink="/images-collection/{{job.outputParameters[output['name']]}}">{{job.name}}.{{output['name']}}
        </a>
        <a *ngSwitchCase="'stitchingVector'" routerLink="/stitching-vectors/{{job.outputParameters[output['name']]}}">{{job.name}}.{{output['name']}}
        </a>
        <a *ngSwitchCase="'pyramid'" routerLink="/pyramids/{{job.outputParameters[output['name']]}}">{{job.name}}.{{output['name']}}
        </a>
      </ng-template>
      <ng-template #flatOutput>
        <a>{{job.name}}.{{output['name']}}</a>
      </ng-template>
    </tr>

  </table>
</div>
