<h1>Stitching Vectors</h1>
<div class="card">
  <p-table #dt
           [value]="stitchingVectors"
           [lazy]="true"
           (onLazyLoad)="getStitchingVectors($event)"
           dataKey="id"
           [tableStyle]="{ 'min-width': '75rem' }"
           [paginator]="true"
           [rows]="10"
           [rowsPerPageOptions]="[10, 25, 50]"
           [totalRecords]="resultsLength"
           selectionMode="single"
           [showCurrentPageReport]="true"
           currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
           [globalFilterFields]="['name']"
  >
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <p-button
          label="New"
          icon="pi pi-plus"
          (click)="createNew()" />
        <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input
                  pInputText
                  type="text"
                  (input)="dt.filterGlobal($event.target.value, 'contains')"
                  placeholder="Search..." />
            </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="name">
          Name <p-sortIcon field="name" />
        </th>
        <th pSortableColumn="creationDate">
          Creation date <p-sortIcon field="creationDate" />
        </th>
        <th pSortableColumn="publiclyShared">
          Visibility <p-sortIcon field="publiclyShared" />
        </th>
        <th pSortableColumn="owner">
          Owner <p-sortIcon field="owner" />
        </th>
        <th pSortableColumn="numberOfTimeSlices">
          Number of Time Slices <p-sortIcon field="numberOfTimeSlices" />
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-sv>
      <tr routerLink="/stitching-vectors/{{sv.id}}" class="p-selectable-row">
        <td>{{ sv.name }}</td>
        <td>{{ sv.creationDate | date }}</td>
        <td><i [class]="sv.publiclyShared ? 'pi pi-globe' : 'pi pi-user'"></i></td>
        <td>{{ sv.owner }}</td>
        <td>{{ sv.numberOfTimeSlices }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-toast position="top-center" [life]="5000"/>
