<form>
  <div class="flex flex-column gap-2">
    <label for="name" class="font-semibold w-6rem">Name</label>
    <input pInputText [(ngModel)]="visualization.name" id="name" name="name" class="flex-auto" autocomplete="off" />
    <span class="p-text-secondary block mb-5">Enter the visualization name.</span>
  </div>
  <div class="flex justify-content-end gap-2">
    <p-button label="Cancel" severity="secondary" (onClick)="cancel()" />
    <p-button label="Save" (onClick)="save()" [disabled]="!visualization.name" type="submit"/>
  </div>
</form>
<p-toast position="top-center"/>
