<h3 class="wipp-title">Images Collections</h3>

<div class="row">
  <div class="col-md-3">
    <button class="btn btn-primary" style="background-color: #f8f9fa; border-color: #bfbfbf; color: black" (click)="createNew();">
      <i class="fas fa-plus-circle" style="margin-right: 10px">
        <p style="margin-left: 10px; display: inline; font-family: 'Roboto', sans-serif ; font-weight: normal">New images collection</p>
      </i>
    </button>
  </div>
</div>

<table mat-table [dataSource]="imagesCollections"
       (matSortChange)="sortChanged($event)"
       matSort matSortActive="creationDate" matSortDisableClear matSortDirection="asc">

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
    <td mat-cell *matCellDef="let row"><a routerLink="/images-collection/{{row.id}}">{{ row.name }}</a></td>
  </ng-container>

  <!-- Number of images Column -->
  <ng-container matColumnDef="numberOfImages">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Number of images</th>
    <td mat-cell *matCellDef="let row">{{row.numberOfImages}}</td>
  </ng-container>

  <!-- Locked Column -->
  <ng-container matColumnDef="locked">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Locked</th>
    <td mat-cell *matCellDef="let row">
      <span *ngIf="row.locked" class="fa fa-lock"
            aria-hidden="true"></span>
      <span *ngIf="!row.locked" class="fa fa-lock-open"
            aria-hidden="true"></span>
    </td>
  </ng-container>

  <!-- Creation date Column -->
  <ng-container matColumnDef="creationDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      Creation date
    </th>
    <td mat-cell *matCellDef="let row">{{row.creationDate | date}}</td>
  </ng-container>

  <!-- Images total size Column -->
  <ng-container matColumnDef="imagesTotalSize">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      Images total size
    </th>
    <td mat-cell *matCellDef="let row">{{row.imagesTotalSize | bytes}}</td>
  </ng-container>

  <ng-container matColumnDef="header-row-filter-name">
    <th mat-header-cell *matHeaderCellDef
        [style.text-align]="center"
        [attr.colspan]="1">
      <mat-form-field class="filter" floatLabel="never">
        <mat-label>Search by name</mat-label>
        <input matInput (keyup)="applyFilterByName($event.target.value)">
      </mat-form-field>
    </th>
  </ng-container>

  <ng-container matColumnDef="header-row-filter-nb-of-images">
    <th mat-header-cell *matHeaderCellDef
        [style.text-align]="center"
        [attr.colspan]="1">
      <mat-form-field class="filter" floatLabel="never">
        <mat-label>Search by number of images</mat-label>
        <input matInput (keyup)="applyFilterByNbOfImages($event.target.value)">
      </mat-form-field>
    </th>
  </ng-container>

  <ng-container matColumnDef="header-row-blank">
    <th mat-header-cell *matHeaderCellDef
        [style.text-align]="center"
        [attr.colspan]="3"></th>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-header-row *matHeaderRowDef="['header-row-filter-name', 'header-row-filter-nb-of-images','header-row-blank']"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator (page)="pageChanged($event)" [length]="resultsLength" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"></mat-paginator>
