/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@qontu/ngx-inline-editor/themes/bootstrap.css';

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }
table {
  width: 100%;
}
